$font-family: 'Roboto', sans-serif;

$font-size: 16px;
$font-size-xs: 0.813rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.313rem;

$font-weigth-normal: 400;
$font-weigth-bold: 500;
$line-height: 1.64;
$line-height-base: 1;
$letter-spacing: 0.1em;


$container-main: 69.375rem;
$container-small: 33.75rem;

$gap-xs: 0.625rem;
$gap-s: 1.25rem;
$gap-m: 2.188rem;
$gap-l: 2.5rem;
$gap-xl: 2.813rem;
$gap-hero: 3.75rem;